<h1>List view</h1>

<h3>全部任务</h3>
<table border='1'>
    <tr>
        <th>key</th>
        <th>name</th>
        <th>desc</th>
        <th>reward</th>
        <th>detail</th>
    </tr>
    {% for x in t1 %}
    <tr>
        <td>{{ x.key }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.description }}</td>
        <td>{{ x.reward }}</td>
        <td><a href="{% url 'detail' x.key %}">click me</a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'profile' %}">whoami</a>
<br>
<a href="{% url 'logout' %}">Log out</a>