{% extends 'base.html' %}

{% block navlist %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">主页</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'list' %}">任务列表</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'upload' %}">发布任务</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">个人中心</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">退出登录</a>
</li>
{% endblock %}

{% block content %}

<h3>任务一览</h3>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>reward</th>
        <th>create_at</th>
    </tr>
    {% for t in tasks %}
    <tr>
        <td>{{ t.id }}</td>
        <td><a href="{% url 'detail' t.id%}">{{ t.name }}</a></td>
        <td>{{ t.reward }}</td>
        <td>{{ t.create_at }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}