<h3>profile</h3>

{%for myTask in myTasks%}
{{myTask}} <br>
{%endfor%}

<table border="1">
    <tr>
        <th>user_id</th>
        <th>profile_id</th>
        <th>username</th>
        <th>points</th>
    </tr>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ profile.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ profile.points }}</td>        
    </tr>
</table>
<table border="1">
    <tr>
        <th>user_id</th>
        <th>profile_id</th>
        <th>username</th>
        <th>points</th>
    </tr>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ profile.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ profile.points }}</td>        
    </tr>
</table>